@model IEnumerable<MyHardware.ViewModel.ProductViewModel>
@{
  ViewData["Title"] = "Produto";
}

<div class="container p-3">
  <div class="row pt-4">
    <div class="col-6">
      <h2 class="text-primary text-primary">Produtos</h2>
    </div>
    <div class="col-6 text-end">
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-8">
      <a asp-controller="Product" asp-action="Create" class="btn btn-outline-primary mt-4">
        <i class="bi bi-plus-circle"></i> &nbsp; Criar Novo Produto
      </a>
      <button type="button" id="botao-exportar" class="btn btn-outline-success mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
        </svg>Exportar
      </button>
    </div>
    <div class="col-4 text-end">
      <div class="input-group rounded mt-4">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </span>
      </div>
    </div>
  </div>
  <br /><br />
  <table class="table table-bordered table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody id="tabela-produtos">
    </tbody>
  </table>
</div>
@section Scripts{
  @{
    <script type='text/javascript'>
      $(function () {
          productIndex.init();
      });
    </script>
  }
  }